force-app/main/default/flows/Account_Description_Auto_Populate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <description>Sets Auto_Populated_Description__c = "[Type] Name".</description>
        <name>Set_Description</name>
        <label>Set Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Auto_Populated_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DerivedDescription</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Skip when Type is null.</description>
        <name>Check_Type</name>
        <label>Check Type is populated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Type is null</defaultConnectorLabel>
        <rules>
            <name>Type_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Description</targetReference>
            </connector>
            <label>Type populated</label>
        </rules>
    </decisions>
    <description>Auto-populates Account.Auto_Populated_Description__c with "[Type] Name" on Account create.</description>
    <formulas>
        <description>Builds the value to assign.</description>
        <name>DerivedDescription</name>
        <dataType>String</dataType>
        <expression>&quot;[&quot; &amp; TEXT({!$Record.Type}) &amp; &quot;] &quot; &amp; {!$Record.Name}</expression>
        <scale>0</scale>
    </formulas>
    <label>Account Description Auto-Populate</label>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Type</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
